*.exe
*.obj
*.dll
*Debug
*Release
*ipch
*.user
*.pdb
*.zip
*.dll
*.7z
*.suo
*.ncb
*.sdf
*.tlog
*.idb
*.log*
*.opensdf
*.pyc
*.swp
*.swp
*.bac
*.DS_Store
/bin/
vendor/
!.gitignore
!.gitlab_ci*
tfile*
.idea/
*.out
*.test
*.pdf

